@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand {
//   font-size: 2.5rem;
// }

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}

.main_img {
  background-image: url(/assets/fin.jpg);
  height: 500px;
  width: 100%;
  background-position: center;
  box-shadow: 2px 1px 9px 2px black;
}

.main_header {
  text-align:center;
}